@font-face {
    font-family: 'Mariupol-Medium';
    src: local('Mariupol Medium'), local('Mariupol-Medium'), url('../font/Mariupol-Medium.woff') format('woff'), url('../font/Mariupol-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mariupol-Bold';
    src: local('Mariupol Bold'), local('Mariupol-Bold'), url('../font/Mariupol-Bold.woff') format('woff'), url('../font/Mariupol-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Mariupol-Regular';
    src: local('Mariupol Regular'), local('Mariupol-Regular'), url('../font/Mariupol-Regular.woff') format('woff'), url('../font/Mariupol-Regular.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
}

header {
    width: 100%;
    height: 80px;
    background-color: #03257e;

}


.main-navigation {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Mariupol-Regular', sans-serif;
}

main {
    flex: 1 0 auto;
}
header nav {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 20px 0;
}
.main-logo {
    margin: 5px 0;
    margin-left: 10px;
}
nav p {
    display: inline-block;
    vertical-align: middle;
    list-style: none;
    margin: 0;
    padding: 0 5px;
}


nav a {
    font-family: 'Mariupol-Medium', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    display: block;
    white-space: nowrap;
}

.search {
    display: inline-block;
    vertical-align: top;
    position: relative;
    background-color: #03257e;
    padding: 20px 10px;
    height: 40px;
    width:calc(100% - 911px);

}
.search button {
    position: absolute;
    top: 25px;
    right: 11px;
    width: 30px;
    height: 30px;
    border: none;
    padding: 0;
    background-image: url("../img/search.png");
    background-position: center;
    background-size: contain;
    background-color: unset;
}
.search button img {
    width: 30px;
}

.search input {
    width: 100%;
    height: 100%;
    border: none;
    padding-right: 30px;
    box-sizing: border-box;
}
.search input::placeholder{
   font-family: 'Mariupol-Medium', sans-serif;;
}

.index-intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #03257e;
    background-image: url("../img/blue.png");
    height: calc(100vh - 80px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20vh;
    padding-bottom: 2vh;
    box-sizing: border-box;
    color: #fff;
}


.index-intro h1 {
    margin: 0;
    font-family: 'Mariupol-Bold', sans-serif;

}

.index-intro button {
    color: #fff;
    border: none;
    background-color: transparent;
    font-size: 40px;
    font-weight: 900;
}

.index-news, .index-foundation, .index-media {
    text-align: center;
    padding: 0 40px;
}

.index-news h2, .index-foundation h2, .afiche h2 {
    color: #03257e;
}

.index-news ul, .index-foundation ul, .index-media ul, .afiche ul, .news-container, .event, .media-container, .book-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    padding: 0;
}

.news-container, .media-container {
    flex-shrink: 0;
}

.index-news li, .index-foundation li, .index-media li, .afiche li, .news-container li, .foundation-container li, .event li, .media-container li, .book-container li {
    list-style: none;
    background-color: #03257e;
    color: #fff;
    display: block;
    margin-bottom: 7px;
}

.index-news li, .index-media li, .afiche li, .book-container li {
    position: relative;
    width: 24%;
    min-width: 200px;
    padding-bottom: 10px;
}

.news-container li, .event li, .media-container li, .index-foundation li {
    width: 32%;
}

.book-container li {
    padding: 5px 10px;
    text-align: center;
    box-sizing: border-box;
}

.news-container a, .fondation-list a, .media-container a {
    display: flex;
}

.news-container a, .fondation-list a, .media-container a, .index-news a {
    color: #fff;
    text-decoration: none;
}

.fondation-list a {
    display: block;
}

.news-container div, .media-container div {
    padding: 7px 10px;
}

.news-container img, .media-container img {
    width: 300px;
    flex-shrink: 0;
}

.news-container p {
    text-align: justify;
    text-indent: 5px;
    margin: 0;
}

.news-container span {
    display: block;
    margin-left: 5px;
}

.index-news p {
    text-align: justify;
    font-family: 'Mariupol-Regular', sans-serif;
    text-indent: 10px;
    margin: 0;
    padding: 5px 10px;
}

.index-news .date {
    position: absolute;
    text-indent: 0;
    z-index: 2;
    right: -4px;
    bottom: -6px;
    padding: 3px 5px;
    background-color: #00cfb4;
}

.index-news img, .afiche img, .event img {
    display: block;
    width: 100%;
}

.index-news button, .index-foundation button, .index-media button, .afiche button {
    background-color: #fedb00;
    margin-bottom: 1.45em;
    border: none;
}

.afiche {
    text-align: center;
    padding: 0 5px;
}

.index-foundation, .index-media {
    background-color: #7be7ff;
    display: block;
}

.index-foundation h2, .index-media h2 {
    margin-top: 0;
    padding-top: 0.83em;
    color: #03257e;
}

.index-foundation li, .index-media li {
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding: 70px 0;
    background-image: url('../img/blue.png');
    background-size: cover;
    background-position: left;
    background-color: #03257e;
}

.index-foundation li:nth-child(2n), .index-media li:nth-child(2n) {
    background-position: right;
}

.index-media li {
    padding: 0;
    padding-top: 120px;
}

.index-foundation a {
    display: block;
    font-family: 'Mariupol-Bold', sans-serif;
    color: #fedb00;
    text-decoration: none;
    margin: auto 0;
}

.index-media p {
    color: #fedb00;
    font-family: 'Mariupol-Regular', sans-serif;
    text-align: justify;
    margin: 0;
}

footer {
    margin-top: auto;
    font-family: 'Mariupol-Bold', sans-serif;
    text-align: center;
    padding: 20px 0;
    background-color: #03257e;
    color: #fff;
}

.slider-conteiner {
    display: flex;
    justify-content: center;
}
.slider-wrap {
    width: 100%;
    overflow: hidden;
}
.slider {
    position: relative;
    left: 0;
    display: flex;
    width: 100%;
    height: 350px;
    margin: 0;
    padding: 0;
}

.afiche button {
    margin-top: 1.45em;
}

.slider-conteiner .left, .slider-conteiner .right {
    padding: 0 6px;
    margin: 0;
}

 .slider img {
    height: 100%;
    width: calc(33.33% - 4px);
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    animation: slider 20s infinite;
}



.foundation-container {
    display: flex;
}

.foundation-main, .foundation-map {
    width: 50%;
}
.foundation-main h1 {
    text-align: center;
    font-family: 'Mariupol-Regular', sans-serif;
}
.fondation-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
}

.fondation-list li, .event li {
    width: 45%;
}

.fondation-list div {
    position: relative;
    padding: 0 10px;
    padding-right: 45px;
}
.fondation-list .marker {
    position: absolute;
    top: 2%;
    right: 1.5%;
    width: 38px;
    height: 35px;
}

.fondation-list p {
    text-indent: 10px;
}

.foundation-container img {
    display: block;
    width: 100%;
}
.foundation-map div {
    height: 100%;
}
@media (max-width: 1500px) {
    .news-container li {
        width: 47%;
    }
}
@media (max-width: 1060px) {
    .news-container a {
        display: block;
    }
    header nav {
        padding: 0;
        background-color: #03257e;
    }
    nav p {
        display: none;
        padding: 19.5px 20px;
    }
    nav p:first-child {
        display: block;

        background-color: #03257e;
    }
    nav.active {
        position: relative;
        z-index: 3;
    }
    nav.active p {
        display: block;
    }
    .main-navigation.active li:first-child {
        padding: 20px;
        flex-grow: 0;
    }

    .search {
        width: calc(100% - 381px);
    }

    .burger {
        position: relative;
        top: 20px;
        margin-left: 10px;
        display: inline-block;
        vertical-align: top;
        width: 40px;
        height: 40px;
        background-color: #03257e;
    }
    .burger:before, .burger:after, .burger span {
        content: "";
        background-color: #fff;
        position: absolute;
        width: 85%;
        height: 2px;
        left: 3px;
        transition: all 0.5s ease;
    }
    .burger:before {
        top: 7px;
    }
    .burger:after {
        bottom: 7px;
    }
    .burger span {
        top: 19px;
    }
    .burger.active span {
        transform: scale(0);
    }
    .burger.active:before {
        transform: translate( 0, 12px) rotate(-45deg);
    }
    .burger.active:after {
        transform: translate( 0, -12px) rotate(45deg);
    }
    .main-navigation {
        flex-direction: column;
    }
    .news-container img, .media-container img {
        width: 100%;
    }
    .main-navigation li:not(.main-logo) {
        z-index: 1;
        background-color: #03257e;
    }
    .index-news, .index-foundation, .index-media {
        padding: 0;
    }
    .index-news li, .index-foundation li, .index-media li, .news-container li, .media-container li {
        width: 95%;
        min-width: auto;
    }
    .event li {
        min-width: auto;
    }
    .book-container li {
        width: 47%;
    }
    .foundation-main {
        width: 100%;
    }
    .foundation-map {
        display: none;
    }
}

@media (max-width: 530px) {
    .news-container a, .media-container a {
        flex-direction: column;
    }
    header nav {
        display: none;
    }
    nav.active {
        position: absolute;
        top: 80px;
        display: block;
    }
    .search {
        width: calc(100% - 209px);
    }
    .slider {
        height: 350px;
    }
    .slider-conteiner .slider img {
        width: calc(100% - 4px);

    }
    .fondation-list li, .event li, .book-container li {
        width: 95%;
    }
    .news-container li, .media-container li {
        min-width: auto;
    }
    @keyframes slider {
        0% {
            left: 0;
        }
        5% {
            left: -100%;
        }
        10% {
            left: -100%;
        }
        15% {
            left: -200%;
        }
        20% {
            left: -200%;
        }
        25% {
            left: -300%;
        }
        30% {
            left: -300%;
        }
        35% {
            left: -400%;
        }
        40% {
            left: -400%;
        }
        45% {
            left: -500%;
        }
        50% {
            left: -500%;
        }
        55% {
            left: -600%;
        }
        60% {
            left: -600%;
        }
        65% {
            left: -700%;
        }
        70% {
            left: -700%;
        }
        99% {
            left: 0;
        }
    }
}