@font-face {
    font-family: 'Mariupol-Medium';
    src: local('Mariupol Medium'), local('Mariupol-Medium'), url('../font/Mariupol-Medium.woff') format('woff'), url('../font/Mariupol-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mariupol-Bold';
    src: local('Mariupol Bold'), local('Mariupol-Bold'), url('../font/Mariupol-Bold.woff') format('woff'), url('../font/Mariupol-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Mariupol-Regular';
    src: local('Mariupol Regular'), local('Mariupol-Regular'), url('../font/Mariupol-Regular.woff') format('woff'), url('../font/Mariupol-Regular.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
}

body, html {
    height: 100%;
    margin: 0;
}

header {
    display: flex;
}

.main-navigation {
    display: flex;
    background-color: #03257e;
    margin: 0;
    padding: 0;
    height: 80px;
}

.main-navigation li {
    list-style: none;
    padding: 30px 20px;
    border-right: 2px solid white;
}

.main-navigation li:first-child {
    padding: 20px;
    border-left: 2px solid white;
}

.main-navigation a {
    font-family: 'Mariupol-Medium', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
}

.search {
    position: relative;
    background-color: #03257e;
    padding: 20px;
    flex-grow: 1;
    border-right: 2px solid white;
}

.search img {
    position: absolute;
    top: 22px;
    left: 22px;
    width: 36px;
    height: 36px;
}

.search input {
    width: 100%;
    height: 100%;
    border: none;
    padding-left: 40px;
    box-sizing: border-box;
}

.main-logo {
    display: flex;
    width: 170px;
    overflow: hidden;
}

.main-logo::before {
    display: block;
    width: 40px;
    height: 40px;
    content: "";
    background-image: url('../img/logo.png');
    background-size: 40px 40px;
    background-repeat: no-repeat;
    padding-right: 19px;
}

.intro {
    position: relative;
    background-color: #03257e;
    background-image: url("../img/blue.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro h1, .intro button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.intro h1 {
    top: 20%;
    font-family: 'Mariupol-Bold', sans-serif;
    color: #fff;
}

.intro button {
    position: absolute;
    bottom: 5%;
    border: none;
    color: #fff;
    background-color: transparent;
    font-size: 40px;
    font-weight: 900;
}

.news, .foundation, .media {
    text-align: center;
    padding: 0 40px;
}

.news h2, .foundation h2, .afiche h2 {
    color: #03257e;
    text-decoration: underline;
}

.news ul, .foundation ul, .media ul, .afiche ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    padding: 0;
}

.news li, .foundation li, .media li, .afiche li {
    display: block;
    position: relative;
    list-style: none;
    width: 24%;
    min-width: 200px;
    background-color: #03257e;
    color: #fff;
    padding-bottom: 10px;
    margin-bottom: 7px;
}

.news p {
    text-align: justify;
    font-family: 'Mariupol-Regular', sans-serif;
    text-indent: 10px;
    margin: 0;
    padding: 5px 10px;
}

.news .date {
    position: absolute;
    text-indent: 0;
    z-index: 2;
    right: -4px;
    bottom: -6px;
    padding: 3px 5px;
    background-color: #00cfb4;
}

.news img, .afiche img {
    display: block;
    width: 100%;
}

.news button, .foundation button, .media button, .afiche button {
    background-color: #fedb00;
    margin-bottom: 1.45em;
}

.afiche {
    text-align: center;
    padding: 0 5px;
}

.foundation, .media {
    background-color: #7be7ff;
    display: block;
}

.foundation h2, .media h2 {
    margin-top: 0;
    padding-top: 0.83em;
}

.foundation li, .media li {
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding: 70px 0;
    background-image: url('../img/intro.jpg');
    background-size: cover;
    background-position: center;
    background-color: #03257e;
}

.media li {
    padding: 0;
    padding-top: 120px;
}

.foundation a {
    display: block;
    font-family: 'Mariupol-Bold', sans-serif;
    color: #fedb00;
    text-decoration: none;
    margin: auto 0;
}

.media p {
    color: #fedb00;
    font-family: 'Mariupol-Regular', sans-serif;
    text-align: justify;
    margin: 0;
}

footer {
    font-family: 'Mariupol-Bold', sans-serif;
    text-align: center;
    padding: 20px 0;
    background-color: #03257e;
    color: #fff;
}

.slider-conteiner {
    display: flex;
    justify-content: center;
}

.slider {
    display: flex;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}

.afiche button {
    margin-top: 1.45em;
}

.slider-conteiner .left, .slider-conteiner .right {
    padding: 0 6px;
    margin: 0;
}

.slider-conteiner .slider img {
    position: relative;
    left: 0;
    width: calc(33.33% - 4px);
    height: 27vh;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    animation: slider 20s infinite;
}

@keyframes slider {
    0% {
        left: 0;
    }
    5% {
        left: -33.33%;
    }
    15% {
        left: -33.33%;
    }
    25% {
        left: -66.66%;
    }
    35% {
        left: -66.66%;
    }
    45% {
        left: -99.99%;
    }
    55% {
        left: -99.99%;
    }
    65% {
        left: -133.32%;
    }
    75% {
        left: -133.32%;
    }
    85% {
        left: -166.65%;
    }
    95% {
        left: -166.65%;
    }
    100% {
        left: 0;
    }
}

@media (max-width: 1000px) {
    .main-navigation {
        flex-direction: column;
    }
    .main-navigation li:not(.main-logo) {
        display: none;
    }
    .news, .foundation, .media {
        padding: 0;
    }
    .news li, .foundation li, .media li {
        width: 95%;
    }
}

@media (max-width: 500px) {
    .slider-conteiner .slider img {
        width: calc(100% - 4px);
        height: 30vh;
    }
    @keyframes slider {
        0% {
            left: 0;
        }
        5% {
            left: -100%;
        }
        10% {
            left: -100%;
        }
        15% {
            left: -200%;
        }
        20% {
            left: -200%;
        }
        25% {
            left: -300%;
        }
        30% {
            left: -300%;
        }
        35% {
            left: -400%;
        }
        40% {
            left: -400%;
        }
        45% {
            left: -500%;
        }
        50% {
            left: -500%;
        }
        55% {
            left: -600%;
        }
        60% {
            left: -600%;
        }
        65% {
            left: -700%;
        }
        70% {
            left: -700%;
        }
        99% {
            left: 0;
        }
    }
}